/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~@progress/kendo-theme-material/dist/all.css";



/* Default page styles */
body {
  font-size: 14px;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  color: rgb(57, 74, 89);
  min-height: 600px;
  min-width: 1280px;
}

html, body {
  height: 100%;
}

a[href] {
  color: rgb(94, 158, 214);
}

[ng-click],
[data-ng-click] {
  outline: none;
  cursor: pointer;
}

[ng-click][disabled],
[data-ng-click][disabled] {
  pointer-events: none;
}

b,
strong {
  font-weight: 500;
}
