<mat-card>
  <kendo-grid
    [data]="gridData"
    [sort]="state.sort"
    [filter]="state.filter"
    [sortable]="true"
    filterable="menu"
    [reorderable]="true"
    [resizable]="true"
    [selectable]="true"
    [kendoGridSelectBy]="'id'"
    (dataStateChange)="dataStateChange($event)"
    (selectionChange)="selectionChange($event)"
  >
    <kendo-grid-column field="name" title="Name">
    </kendo-grid-column>
    <kendo-grid-column field="icon" title="Type">
      <ng-template kendoGridCellTemplate let-dataItem>
        <mat-icon>{{dataItem.icon}}</mat-icon>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="createdDate" title="Date Created" width="240" filter="date" format="{0:d}">
    </kendo-grid-column>
  </kendo-grid>
</mat-card>
<div *ngIf="selectedDocument">
  <p>Selected: {{selectedDocument.name}}</p>
</div>
